# An√°lise de Dados - Setor Floresta

In [2]:
import pandas as pd
from datetime import datetime
import sklearn as skl

In [5]:
data1 = pd.read_excel("planilhas/ResultadosFloresta/comMaquina60Seg.xlsx")
data1.head()

,classificadores,tempoMaquinas,equipamentos,cotaOsGraos,dataChegada,DataSaida,tempoFila,tempoProcessamento
0,1.0,1.0,1.0,0.0,43467.351713,43467.356202,0.000000,6.464419
1,1.0,1.0,1.0,0.0,43467.580694,43467.584161,0.000000,4.991464
2,1.0,1.0,1.0,0.0,43467.623831,43467.627133,0.000000,4.755463
3,1.0,1.0,1.0,0.0,43467.623831,43467.630522,4.755463,4.879733
4,1.0,1.0,1.0,0.0,43467.629931,43467.633823,0.851863,4.753932

In [6]:
data2 = pd.read_excel("planilhas/ResultadosFloresta/resultadosDatabase.xlsx")
data2.head()

d:\GithubDjonathan\Neosilos\.env\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,classificadores,tempo maquinas,equipamentos,corta os graos,data chegada,data saida,tempo fila,tempo processamento
0,1.0,1.0,1.0,0.0,2019-01-02 08:26:28,2019-01-02 08:32:55.865,0.000000,6.464419
1,1.0,1.0,1.0,0.0,2019-01-02 13:56:12,2019-01-02 14:01:11.487,0.000000,4.991464
2,1.0,1.0,1.0,0.0,2019-01-02 14:58:19,2019-01-02 15:03:04.327,0.000000,4.755463
3,1.0,1.0,1.0,0.0,2019-01-02 14:58:19,2019-01-02 15:07:57.111,4.755463,4.879733
4,1.0,1.0,1.0,0.0,2019-01-02 15:07:06,2019-01-02 15:12:42.347,0.851863,4.753932